# Ignore Python virtual environment
venv/
dgl_env/
.env

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore data folder
data/
mechcad/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore log files
*.log